html,
body {
    height: 100%;
    width: 100%;
}

.card-map {
    min-height: 500px;
}

.full-map {
    min-height: calc(100vh - 56px);
    top: 56px;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 0;
}

header {
    z-index:7;
}

.icon-brand {
    height:30px;
}

.message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9;
}

.inner-message {
    margin: 0 auto;
}

.user {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
}

.text-title {
    font-weight: 700;
}

.text-menu {
    font-weight: 500;
}

.text-menu:hover {
    border-bottom: 4px solid yellow;
}