<header class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="{{ url_for('index') }}">
			<img class="icon-brand d-inline-block align-top" src="{{ url_for('static', filename='icon-light.png')}}"/>
			CitiVis
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="nav collapse navbar-collapse navbar-right" id="navbar">
			<div class="navbar-nav mr-auto mt-2 mt-lg-0">
				<div class="nav-item">
					<a href="{{ url_for('home') }}" class="nav-link">FEATURED</a>
				</div>
				<div class="nav-item">
					<a href="{{ url_for('upcoming') }}" class="nav-link">UPCOMING</a>
				</div>
				{% if session.get('access_token') -%}
				<div class="nav-item btn-group p-0 m-0 ml-2">
					<a class="nav-link btn btn-outline-primary p-1" href="#" data-toggle="dropdown">
						<img src="{{ session.get('profile_picture') }}" class="user d-inline-block" alt="{{ session.get('profile_name') }}">
					</a>
					<div class="dropdown-menu dropdown-menu-right p-2">
						<p class="dropdown-header">
							{{ session.get('profile_name') }}
							</h5>
							<h6 class="dropdown-item disabled">
								{{ session.get('email') }}
							</h6>
							<a class="dropdown-item" href="{{ url_for('logout', next= request.url) }}">
								<i class="material-icons">exit_to_app</i>
								LOGOUT
							</a>
					</div>
					<!-- /.dropdown -->
				</div>
				<!-- /.nav-item -->
				{% else -%}
				<div class="nav-item">
					<a class="nav-link" href="{{ url_for('signin', next= request.url) }}">
						<i class="material-icons">play_for_work</i>
						LOGIN
					</a>
				</div>
				{% endif -%}
			</div>
			<!-- /.navbar-nav -->
			
			<form class="form-inline my-2 my-lg-0" id="form-place">
				<input id="input-place" class="form-control mr-sm-2" id="search-place" type="search" name="place" placeholder="Cari lokasi.."
					aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
					<i class="material-icons">search</i>
				</button>
			</form>
			<!-- /.form-search-place -->

			
		</div>
		<!-- /.collapse -->
	</div>
	<!-- /.container -->
</header>
