
<nav id="pagination">
  <ul class="pagination justify-content-center">
{% if pagination.has_prev -%}
  <li class="page-item">
    <a class="page-link" href="{{ url_for_other_page(pagination.page - 1) }}">&laquo;</a>
  </li>
{% endif -%}
{% for page in pagination.iter_pages() -%}
{% if page -%}
  {% if page != pagination.page -%}
  <li class="page-item">
    <a class="page-link" href="{{ url_for_other_page(page) }}">{{ page }}</a>
  </li>
  {% else -%}
  <li class="page-item active">
    <strong class="page-link disabled">{{ page }}</strong>
  </li>
  {% endif -%}
{% else -%}
  <li class="page-item disabled">
    <span class="page-link disabled">…</span>
  <li class="page-item">
{% endif -%}
{% endfor -%}
{% if pagination.has_next -%}
  <li class="page-item">
    <a class="page-link" href="{{ url_for_other_page(pagination.page + 1)}}">&raquo;</a>
  </li>
{% endif -%}
  </ul>
</nav>