<!-- wrapped by div#sideList -->
{# called by ajax -#}
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<div class="container">
	<div class="row">
		{% if datas.count(True) == 0 %}
		<div class="col-md-12 col-lg-6 mb-3 bg-primary rounded text-center text-muted">
			<h3>EVENT NOT FOUND</h3>
		</div>
		{% endif %}
		{% for data in datas -%}
		<div class="col-md-12 col-lg-6 mb-3">
			<div id="{{ data._id }}" class="card h-100 border-primary mb-3">
				<div class="card-header text-muted">
				{% if data.source == 'fb' -%}
					Facebook
					<a href="https://www.facebook.com/{{ data.user }}/" target="_blank">@{{ data.user }}</a>
				{% endif -%}
				{% if data.source == 'tw' -%}
					Twitter
					<a href="https://twitter.com/{{ data.user }}" target="_blank">@{{ data.user }}</a>
				{% endif -%}
				{% if data.source == 'ig' -%}
					Instagram
					<a href="https://www.instagram.com/{{ data.user }}/" target="_blank">@{{ data.user }}</a>
				{% endif -%}
				</div>
				<img class="card-img-top img-fluid" src="{{ data.image_url }}" alt="Image from {{ data.user }}">
				<div class="card-body">
					{% if data.entities.name -%}
					<h5 class="card-title">{{ data.entities.name[0] }}</h5>
					{% endif -%}
					<p class="card-text">{{ data.full_text }}</p>
				</div>
				<ul class="list-group list-group-flush">
					{% if data.entities.place -%}
					{% for d in data.entities.place -%}
					<li class="list-group-item">
						<i class="material-icons">
							place
						</i>
						{{ d.name }}
						<p class="text-muted">{{ d.address }}</p>
					</li>
					{% endfor -%}
					{% endif -%}
					{% if data.entities.time -%}
					{% for time in data.entities.time -%}
					<li class="list-group-item">
						<i class="material-icons">
							access_time
						</i>
						{{ time.strftime("%A, %d %B %Y") }}
					</li>
					{% endfor -%}
					{% endif -%}
					{% if data.entities.info -%}
					{% for info in data.entities.info -%}
					<li class="list-group-item">
						<i class="material-icons">
							contact_support
						</i>
						{{ info }}
					</li>
					{% endfor -%}
					{% endif -%}
				<div class="card-body">
				{% if data.source == 'fb' -%}
					<a href="{{ data.source_url }}" class="card-link" target="_blank">
						<i class="fa fa-facebook mr-2"></i>Sumber
					</a>
				{% endif -%}
				{% if data.source == 'tw' -%}
					<a href="{{ data.source_url }}" class="card-link" target="_blank">
						<i class="fa fa-twitter mr-2"></i>Sumber
					</a>
				{% endif -%}
				{% if data.source == 'ig' -%}
					<a href="{{ data.source_url }}" class="card-link" target="_blank">
						<i class="fa fa-instagram mr-1"></i>Sumber
					</a>
				{% endif -%}
					<a href="{{ url_for('detail', id=data._id) }}" class="card-link">
						<i class="material-icons">details</i>Lihat Detail
					</a>
				</div>
			</ul>
				<div class="card-footer text-muted">
					{{ data.created_time }}
				</div>
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
		{% endfor -%}
	</div>
	<!-- /.card-deck -->
	<a href="javascript:void(0)" onclick="topFunction()" id="scrollTopBtn" class="topbtn">
		<i class="material-icons">
			arrow_upward
		</i>
	</a>
</div>
<!-- /.container -->